<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Home</title>
</head>

<body>
    <div>
        <h1>Simple Home</h1>
        <p>This endpoint will read data from the database using the local route, <code>/sqltest</code>.</p>
        <p>We then render the first 5 actor names in the <code>&lt;ul&gt;</code> tag below:</p>
        <ul id="data-goes-here">
        </ul>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/index.js"></script>
</body>

</html>